* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2C2E40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  color:white;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin: 4px 0;
  border: 2px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.2s;
}

.login-container input[type="submit"] {
  background-color: #AEC7CF;
  color: #2C2E40;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.login-container input[type="submit"]:hover {
  background-color: #97b2b9;
}

form {
  padding: 1rem;
  color:white;
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #AEC7CF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
  .loader.hidden {
    display:none;
  }

  